.variants-div {
 width: 100%;
 height: 100%;
 padding: 1rem;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 16px;
}

.variants-item-div {
 width: 2.2rem;
 height: 2.2rem;
 margin: auto;
 display: flex;
 align-items: center;
 justify-content: center;
}

.variants-item-div:hover {
 transform: scale(120%);
}
